*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: 'poppins',sans-serif;
    background: hsl(228, 33%, 97%);
    color: hsl(215, 15%, 22%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(223, 46%, 25%);
    padding: 15px 40px;

}

.navbar ul{
display: flex;
list-style: none;
}
.navbar ul li{
    margin-left: 25px;
}
.navbar ul li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar ul li a:hover,
.navbar ul li a:active{
    color: hwb(200 0% 0%);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(120deg,hsl(210, 100%, 73%),hsl(244, 98%, 80%));
    color: white;
    text-align: center;
    animation:  fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn{
    from{opacity: 0;transform: translateY(30px);}
    to{opacity: 1;transform: translateY(0); }
}
.home.btn{
    background: hsl(206, 92%, 46%);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background 0.3s ease;
}
.home.btn:hover{
    background: hsl(210, 100%, 73%);

}
.about,.skills,.projects,.contact{
    padding: 60px 20px;
    text-align: center;
    animation: slideup is ease;
}
h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: hsl(224, 50%, 31%);
}
.skills-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-card{
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background 0.3s ease;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.skill-card:hover{
    transform: translateY(-10px);
    background: hsl(228, 8%, 87%);
}
.project-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}   
.project-card{
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 280px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.project-card:hover{
    transform: scale(1.05);
}
footer{
    text-align: center;
    background: hsl(247, 66%, 15%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
}

@media(max-width:760px){
    .navbar ul{
        flex-direction: column;
    }
    .project-grid, .skills-list{
        flex-direction: column;
        align-items: center;
    }
}
#contact{
    background: rgb(23, 20, 59);
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.info-item{
    background: hsl(250, 71%, 13%);
    border-radius: 12px;
    padding: 15px 25px;
    width: 280px;
    text-align: left;
    transition: transform 0.3s ease background 0.3s ease;
}
.info-item:hover{
    transform: scale(1.05);
    background: hsl(252, 58%, 12%);
}
.info-item a{
    color: hsl(180, 100%, 50%);
    text-decoration: none;
}
.profile-photo{
     width: 200px;
     height: 200px;
     border-radius: 150px;
     object-fit: cover;
     border: 3px solid hsl(219, 100%, 20%);
     margin-bottom: 20px;
    
}
.coffee{
width: 400;
height: 200;
border-radius: 30;
border: 3px solid black;
object-fit: cover;
}
.landing{
    width: 400;
height: 200;
border-radius: 30;
border: 3px solid black;
object-fit: cover;
}
.blog{
        width: 400;
height: 200;
border-radius: 30;
border: 3px solid black;
object-fit: cover;

}